:root{
    --main_grey_color: #ece9e969
    
}

p{
    margin-bottom: 0px;
}
a{
    text-decoration: none;
    color: var(--bs-table-active-color);
    font-size: 20px;
}

li{
    list-style: none;
}
::selection{
    background-color: var(--bs-danger);
    color: white;
}