.not-found-page-h1{
    font-size: 200px;
    font-weight: 900;
    line-height: .8;
    color: #aaa;
    margin: -11px 0 0;
}
.not-found-page-h2{
        color: #aaa;
        font-weight: 500;
        letter-spacing: 3px;
        margin: 40px 0;
}